extends layout

block content
	//- .fallback-message
	//- 	p Your browser doesn't support the features required
	#impress(data-transition-duration="1000")
		.step.slide(data-x="-1000", data-y="-1500")
			p Welcome to #{title}
		.step.slide(data-x="-1000", data-y="-1500",data-z='-100000',data-rotate="90",data-scale="5")
			p Welcome to #{title}
	.test
		textarea(row='4',cols='50',class='memory')
		input(type='button',value='add Memory',class='addMemory') add memory

	script(src='/js/impress.js')
	script(src='/js/memories.js')
