
.transition(@x) {
  -webkit-transition: @x;
  -moz-transition: @x;
  -ms-transition: @x;
  -o-transition: @x;
  transition: @x;
}

.radial-gradient(@s,@e) {
  background: -webkit-radial-gradient(@s, @e);
  background: -moz-radial-gradient(@s, @e);
  background: -ms-radial-gradient(@s, @e);
  background: -o-radial-gradient(@s, @e);
  background: radial-gradient(@s, @e);
}

body {
  // padding: 50px;
  margin: 0px;
  font-size: 42px;
  color: #eee;
  font-family: "Georgia", "Lucida Grande", Helvetica, Arial, sans-serif;
  .radial-gradient(#3a3a3a, #161616);
}

.step.active {
  opacity: 1;
}

.memory-slide{
  text-align: center;
  width: 800px;
  opacity: 0.05;
  .transition(opacity 1s);
  line-height: 50px;
}

a {
  color: #00B7FF;
}

@sideBar-width: 600px;
@arrow-width: 60px;
.side-bar{
	position: fixed;
	height: 100%;
	// background-color: black;
	width: @sideBar-width;
	right: -550px;
}

.arrow{
  float: left;
  width: @arrow-width;
  height: 100px;
  background: gray;
  margin-top: 350px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  opacity: 0.5;
}

.content{
  float: left;
  height: 100%;
  background-color: black;
  width: @sideBar-width - @arrow-width;
}
